.containerCenter {
    position: absolute;
    top: 0%;
    left: 11%;
    height: 100%;
    width: 89%;
}

.formParamUser {
    text-align: center;
    margin-right: 10%;
}

.suprAccount {
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.titleForm {
    color: blue;
    border-bottom: 2px solid blue;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 2%;
    padding-bottom: 1%;
    font-size: 30px;
}