.containerCenter {
    position: absolute;
    top: 0%;
    left: 11%;
    height: 100%;
    width: 89%;
}

.containerParamUser {
    background: #F5F5F5;
    
    width: 80%;
    height: 400px;

    position: absolute;
    top: 5%;
    left: 50%;

    transform: translateX(-50%);
}

.formParamUser {
    text-align: center;

    position: relative;
    top: 50%;
    left: 28%;

    transform: translateY(-50%);
}

.submitEditParamUser {
    transform: translateY(69%);
}

.titleFormParamUser {
    color: #4CAF50;
    font-size: 32px;

    position: absolute;
    top: 3%;
    left: 50%;

    font-style: italic;

    transform: translateX(-50%);
}

.suprAccount {
    position: absolute;
    bottom: 1%;
    right: 1%;
}